.wrappet_skeleton {
  display: flex;
  width: 98vw;
  justify-content: space-between;
  align-items: center;
  background: rgb(240, 240, 240);
  height: 90px;
}
.main_skeleton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}