.wrappet_skeleton {
  display: flex;
  /* width: 100vw; */
  justify-content: space-between;
  align-items: center;
}
.main_skeleton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}