

.skeleton {
    width: fit-content;
   /* border: 1px solid blueviolet;*/
   /* height: 100px;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/*
.skeleton svg {
    margin-right: -50px;
}*/