

.skeleton {
    width: 90vw;
   /* border: 1px solid blueviolet;*/
   /* height: 100px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
.skeleton svg {
    margin-top: 10px;
}*/