
.ftr_contact a {
    /* border: 2px solid red; */
    margin: auto 10px;
}

/*
@media (max-width: 2560px) {


}
*/
@media (max-width: 768px) {
 .wr_footer_block {
    display: block;
    width: auto;
 }   

.navBar_block {
   flex-direction: column;
} 

 .navBar_contact {
   width: 200px;
 }

 .main_pages {
    width: 90vw;
 }
}

