
.ftr_contact a {
    /* border: 2px solid red; */
    margin: auto 10px;
}

/*
@media (max-width: 2560px) {


}
*/
@media (max-width: 768px) {
 .wr_footer_block {
   width: 90vw;
   flex-direction: column;
   align-items: flex-start;
   padding-bottom: 20px;
   padding-right: 10px;
   margin-left: -10px;
 }   

.navBar_block {
   flex-direction: column;
} 

 .navBar_contact {
   width: 200px;
  /* flex-direction: column;*/
 }

 .navBar_contact a {
   margin-bottom: 10px;
}


 .main_pages {
    width: 90vw;
 }
}

