/* https://create-react-app.dev/docs/adding-css-reset/ */
@import-normalize; /* bring in normalize.css styles */

.App {
  display: grid;
 /* text-align: center;*/
  grid-template-areas: 'navBar' 'main_pages' 'main_footer';
  /*подвал к низу страницы*/
  grid-template-rows: auto 1fr auto;

  /*подвал конец*/
}


.navBar {
  grid-area: navBar;
}

.main_pages {
  grid-area: main_pages;
  min-height: 100vh;
  /*border: 1px solid black;*/
  overflow: hidden;

  /*display: grid;*/
  justify-self: center;

  width: 80vw;
  padding-top: 5vw;
}


.main_footer {
  grid-area: main_footer;
  width: 90vw;
  margin: auto;
}


@keyframes fade-in {

  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
  
}

/*
.page {
  position: absolute;
}
*/

/*!отвечает за появление*/
.page-enter-active {
  animation: fade-in 1s forwards;
}
/*!отвечает за исчезновение*/
.page-exit-active {
  animation: fade-out 1s forwards;
}

@keyframes fade-out {

  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(100%);
    opacity: 0;
  }
  
}

.page_skeleton {
  min-height: 100vh;
  /*border: 2px solid brown;*/
}

@media (max-width: 768px) {
  .main_pages {
    width: 90vw;
 }
}

